{% if cutout is none %}

  <div class="text-center">
    <img src="{{ url_for('cutout', path=path) }}" class="img-fluid" alt="{{ path }}"/>
  </div>

{% else %}

  <!-- Metadata -->
  <ul>
    <li>Name: <b>{{ cutout.meta.name }}</b></li>
    <li>Time: <b>{{ cutout.meta.time.iso }}</b></li>
    <li>Mag: <b>{{ "%.2f" % cutout.meta.mag_calib }}</b> +/- <b>{{  "%.2f" % cutout.meta.magerr }}</b></li>
    <li>RA/Dec: <b>{{ "%.4f" % cutout.meta.ra }}</b> <b>{{ "%+.4f" % cutout.meta.dec }}</b></li>
    <li>CLASS_STAR: <b>{{ "%.2f" % cutout.meta.class_star }}</b></li>
    <li>FWHM: <b>{{ "%.2f" % cutout.meta.fwhm }}</b></li>
    <li>Original Image: <b>
      {% if cutout_filename %}
        <a href="https://pc048b.fzu.cz/archive/images?filename={{ cutout_filename }}" title="Look up original image in FRAM archive" target="_blank"><i class="fa fa-search"></i>
      {% endif %}
      {{ cutout.meta.filename }}
      {% if cutout_filename %}
        </a>
      {% endif %}
    </b></li>
  </ul>

  <!-- Preview cutout image planes -->
  <div class="row">
  {% for hdu in fitsfile %}
    {% if hdu.data is not none %}
      <div class="col-2 pr-1 pl-0 pt-0 pb-0">
        <div class="card">
          <h6 class="card-header text-center pr-1 pl-1 pt-1 pb-1">
            {{ hdu.name }}
          </h6>

          <div class="stdview-image-container">
            <img id="cutout_img_{{ loop.index0 }}"
                 src="{{ url_for('preview', path=path, ext=loop.index0) }}{% if hdu.name in ['IMAGE', 'TEMPLATE', 'CONVOLVED'] and false %}?stretch=asinh{% endif %}"
                 class="card-img img-fluid pr-0 pl-0 pt-0 pb-0"
                 alt="{{ hdu.name }}"/>
            {% with id='#cutout_img_%d' % loop.index0, ra=cutout.meta.ra, dec=cutout.meta.dec %}
              {% include "block_image_overlay.html" %}
            {% endwith %}
          </div>

        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <!-- External links -->
  <div class="mt-2">
    <!-- <h4>External resources</h4> -->
    {% with ra=cutout.meta.ra, dec=cutout.meta.dec %}
      <ul class="list-inline">
        <li class="list-inline-item disabled">
          External resources:
        </li>

        <li class="list-inline-item">
          <a href="http://simbad.u-strasbg.fr/simbad/sim-basic?Ident={{ ra }}+{{ dec }}&submit=SIMBAD+search" title="Check SIMBAD for this position" target="_blank">SIMBAD</a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.aavso.org/vsx/index.php?view=results.get&coords={{ ra }}+{{ dec }}&format=d&size=60&unit=3" title="Check AAVSO VSX for this position" target="_blank">AAVSO</a>
        </li>

        <li class="list-inline-item">
          <a href="http://skydot.lanl.gov/nsvs/cone_search.php?ra={{ ra }}&dec={{ dec }}&rad=0.5&saturated=on&nocorr=on&lonpts=on&hiscat=on&hicorr=on&hisigcorr=on&radecflip=on" title="NSVS data for this point" target="_blank">NSVS</a>
        </li>

        <li class="list-inline-item">
          <a href="https://asas-sn.osu.edu/photometry?utf8=✓&ra={{ ra }}&dec={{ dec }}&radius=0.5&vmag_min=&vmag_max=&epochs_min=&epochs_max=&rms_min=&rms_max=&sort_by=raj2000" target="_blank">ASAS-SN</a>
        </li>

        <li class="list-inline-item">
          <a href="https://irsa.ipac.caltech.edu/cgi-bin/Gator/nph-query?objstr={{ ra }}+{{ dec }}+&catalog=ztf_objects_dr5&mission=irsa" title="ZTF DR5" target="_blank">ZTF</a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.wis-tns.org/search?ra={{ ra }}&decl={{ dec }}&radius=10&coords_unit=arcsec" title="Transient Name Server" target="_blank">TNS</a>
        </li>

        <li class="list-inline-item">
          <a href="https://pc048b.fzu.cz/archive/images/cutouts?&site=cta-n&ccd=C0&ra={{ ra }}&dec={{ dec }}&sr=0.03" title="Get cutouts from CTA-N FRAM archive" target="_blank">Cutouts:CTA-N</a>
        </li>

        <!-- <li class="list-inline-item">
        <a href="http://aladin.u-strasbg.fr/AladinLite/?target={{ ra }}%20{{ dec }}&fov=0.40&survey=P%2FDSS2%2Fcolor" title="Aladin Lite" target="_blank">Aladin</a>
        </li> -->

      </ul>
    {% endwith %}
  </div>

  <!-- Aladin embedded -->
  {% if false %}
    <!-- include Aladin Lite CSS file in the head section of your page -->
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <!-- It seems Aladin uses jQuery 1.x, let's also load it and hope it will not break anything -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

    <script type="text/javascript">
     $(document).ready(function(){
       var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.03});
       aladin.gotoRaDec({{ cutout.meta.ra }}, {{ cutout.meta.dec }});
     });
    </script>

    <div class="card" style="display: inline-block">
      <h6 class="card-header text-center pr-1 pl-1 pt-1 pb-1">
        Aladin
      </h6>
      <div class="card-body pr-0 pl-0 pt-0 pb-0">
        <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
        <div id="aladin-lite-div" style="width:400px;height:400px"></div>
      </div>
    </div>
  {% endif %}

{% endif %}
