{% extends "files.html" %}

{% block files_content %}
  <!-- Display file info or contents -->

  <ul>
    <li>Path: <b><a href="{{ url_for('download', path=path, attachment=False) }}"><i class="fa fa-download"></i> {{ path }}</a></b></li>
    <li>Size: <b>{{ stat.st_size }}</b> bytes</li>
    <li>Last modified: <b>{{ time.iso }}</b></li>
    <li><b>{{ mime }}</b> : {{ magic_info }}</li>
  </ul>

  {% if mode == 'text' %}
    <!-- Display text file contents -->

    <div class="card">
      <div class="card-body pr-2 pl-2 pt-2 pb-2">
        <pre><code>{{ contents }}</code></pre>
      </div>
    </div>

  {% elif mode == 'image' %}
    <!-- Display image inline -->

    <div class="text-center">
      <img src="{{ url_for('download', path=path) }}" class="img-fluid img-thumbnail" alt="{{ path }}"/>
    </div>

  {% elif mode == 'fits' %}
    <!-- Display FITS file -->

    {% for hdu in fitsfile %}
      <div>
        <!-- Full FITS header -->
        <div class="card">
          <h5 class="card-header pt-2 pb-2" data-toggle="collapse" data-target="#collapseHeader{{ loop.index0 }}"
              aria-expanded="false"
              aria-controls="collapseHeader{{ loop.index0 }}">
            {{ hdu.name }}
            <span class="float-right"><i class="fa fa-list"></i> </span>
          </h5>

          <div class="collapse {% if hdu.data is none %}show{% endif %}" id="collapseHeader{{ loop.index0 }}">
            <div class="card-body pr-2 pl-2 pt-2 pb-2">
              <pre>{{ hdu.header.tostring('\n') }}</pre>
            </div>
          </div>
        </div>

        {% if hdu.data is not none %}
          <div class="text-center">
            <img src="{{ url_for('preview', path=path, ext=loop.index0) }}" class="img-fluid img-thumbnail stdview-image" data-stretch data-zoom data-grid alt="{{ path }}"/>
          </div>
        {% endif %}

      </div>
    {% endfor %}

  {% elif mode == 'cutout' %}

    {% include 'block_cutout.html' %}

  {% else %}
    <p>
      Cannot preview file
    </p>
  {% endif %}

{% endblock %}
